
body {
<<<<<<< HEAD
  padding: 0;
  margin: 0;
  background-image: url(images/Waves\ parck.png);
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.header a {
  font-size: x-large;
}

#logo {
  width: 105px;
  height: auto;
  margin-right: 2%;
}

nav {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.pesquisa {
  margin-right: 5%;
}

.pesquisa input {
  padding-left: 10px;
  padding-right: 25px;
  margin-right: 10px;
  height: 20px;
  width: 160px;
  border-radius: 15px;
  background-color: white;
}

.pesquisa button {
  border-radius: 15px;
  height: 25px;
  margin-left: -35px;
}

h3{
  color: rgb(0, 17, 255);
}

h4{
  color: black;
}

.redes-sociais  {
  height: 1px;
}

.Rodape{
  margin-left: 100px;
}

.contato {
  margin-top: 110px;
}
=======
    margin: 0;
    background-image: url(images/Waves\ parck.png);
    background-size: cover;
    background-position: center;
    font-family: bolder, sans-serif;
  }
  h3{
    color: rgb(0, 17, 255);
  }
  h4{
    color: black;
  }
.redes-sociais  {
    height: 1px;
}

    .Rodape2{
        margin-top: 90px;
    }
    
    footer {
      background-color: #ff9900; /* Laranja */
      padding: 20px;
    }
    
    .rodape {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    img {
      width: 50px;
    }
    
>>>>>>> ca6fa65dc579d1638ef9f2e1512ed1624e8104e6
