
body {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.header a {
  font-size: x-large;
}

#logo {
  width: 105px;
  height: auto;
  margin-right: 2%;
}

nav {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.pesquisa {
  margin-right: 5%;
}

.pesquisa input {
  padding-left: 10px;
  padding-right: 25px;
  margin-right: 10px;
  height: 20px;
  width: 160px;
  border-radius: 15px;
  background-color: white;
}

.pesquisa button {
  border-radius: 15px;
  height: 25px;
  margin-left: -35px;
}

h3{
  color: rgb(0, 17, 255);
}

h4{
  color: black;
}

.redes-sociais  {
  height: 1px;
}

.Rodape{
  margin-left: 100px;
}

.contato {
  margin-top: 135px;
  font-size: 35px;
  border-left: 65px solid white;
  
}

.informações {
  border-left: 120px solid white;
}

#suainfo ul {
  list-style: none;
  border: 1px solid black;
}

#suainfo li {
  position: relative;
  border-right: 1px solid black;
}

#suainfo li a {color: black; text-decoration: none; padding: 5px 10px; display: block;}


#suainfo li a:hover{
  background:#333; 
  color:#fff; 
  -moz-box-shadow:0 3px 10px 0 #CCC; 
  -webkit-box-shadow:0 3px 10px 0 #ccc; 
  text-shadow:0px 0px 5px #fff; 
}

#suainfo li  ul{
  position:absolute; 
  top:25px; 
  left:0;
  background-color:#fff; 
  display:none;
}  

#suainfo li:hover ul, #suainfo li.over ul{display:block;}

#suainfo li ul li{
  border:1px solid #c0c0c0; 
  width:150px;
  }

header, #suainfo, #suainfo ul{
 display: flex;
}

#suainfo{
 flex: 1; /* isto é para a nav ocupar a largura toda menos a logo */
 justify-content: center; /* alinha horizontalmente */
 align-items: center;
}
