body {
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

#logo {
    width: 105px;
    height: auto;
    margin-right: 2%;
}

nav {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.navbar {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: x-large;
}

.navbar a:hover {
    transition: 0.5s;
    margin-top: -7px;
    text-decoration: underline;
}

.pesquisa {
    height: auto;
    margin-right: 5%;
}

.pesquisa input {
    padding-left: 10px;
    padding-right: 25px;
    margin-right: 10px;
    height: 30px;
    width: 180px;
    border-radius: 15px;
    background-color: white;
}

.pesquisa button {
    border-radius: 15px;
    height: 35px;
    margin-left: -35px;
}

.slides img {
    width: 100%;
    margin-bottom: 70px;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(0,165,199,1) 100%);
    margin-bottom: 70px;
}

.Caracteristicas {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.principais h2 {
    font-size: 5rem;
}

.principais li {
    font-size: 1.5rem;
}

.principais button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    border-color: black;
    border: 2px;
    font-size: 1.5rem;
    border: 2px solid;
    background-color: transparent;
    gap: 5px;
}

.principais button:hover {
    background-color: rgba(255, 255, 255, 0.537);
    border-color:  rgba(255, 255, 255, 0.537);
}

.principais button a {
    text-decoration: none;
    color: black;
}

.fotol {
    margin: 0;
}
.fotol img{
    width: 107vh;
    height: 100%;
}

.container2 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: rgb(255,191,80);
    background: radial-gradient(circle, rgba(255,191,80,1) 0%, rgba(255,217,152,1) 100%);
}

.container2 img {
    margin: 0;
    width: 107vh;
}

.horario {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.funcionamento h2 {
    font-size: 5rem;
}

.funcionamento li {
    font-size: 1.5rem;
}

.funcionamento span {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

#titulo {
    padding-top: 100px;
    margin-top: 0;
    font-size: 2.4rem;
    text-align: center;
    color: #005757;
}

#ingressos {
    background-image: url(images/fundp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ingressos {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#pode span {
    color: rgb(0, 255, 0);
}

#naopode span {
    color: red;
}

.numeros {
    display: flex;
    height: 250px;
    width: 100%;
    background: rgb(0,255,255);
    background: linear-gradient(0deg, rgba(0,255,255,1) 0%, rgba(63,72,204,1) 100%);
    align-items: center;
    flex-direction: column;
}

.numeros h2 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.numeros li {
    color: white;
    font-size: 1.4rem;
}

#footer {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    background-color: #00ffff;
    text-align: center;
}

#footer img {
    margin-left: 5px;
    margin-right: 5px;
    width: 35px;
}