body {
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

#logo {
    width: 105px;
    height: auto;
    margin-right: 2%;
}

nav {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.navbar {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: x-large;
}

.navbar a:hover {
    transition: 0.5s;
    margin-top: -7px;
    text-decoration: underline;
}

.pesquisa {
    margin-right: 5%;
}

.pesquisa input {
    padding-left: 10px;
    padding-right: 25px;
    margin-right: 10px;
    height: 20px;
    width: 160px;
    border-radius: 15px;
    background-color: white;
}

.pesquisa button {
    border-radius: 15px;
    height: 25px;
    margin-left: -35px;
}

.slides img {
    width: 100%;
    margin: 0;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%);
}

.principais {
    display: flex;
    justify-content: center;
}

.fotol {
    margin: 0;
}
.fotol img{
    width: 100vh;
}
